$tablet-width: 800px;
$desktop-width: 1024px;

.Button {
    // default as secondary styles
    border: 1px solid #D4D9DF;
    border-radius: 6px;
    padding: 16px 20px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.24px;
    text-decoration: none;
    width: 100%;
    background: linear-gradient(to left, transparent 50%, rgba(39, 31, 77, 0.08) 50%);
    background-size: 202%;
    background-position: right;
    transition: all 0.25s ease-in-out;

    @media (min-width: $tablet-width) {
        padding: 10px 12px;
        width: auto;
    }

    &[data-hierarchy=Primary] {
        //background: #271F4D;
        border-color: #271F4D;
        color: #FFF;
        font-weight: 600;
        background: linear-gradient(to left, #271F4D 50%, #4928ED 50%);
        background-size: 201%;
        background-position: right;
    }

    &:hover,
    &:focus {
        background-position: left;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

        &[data-hierarchy=Primary] {
            color: #fff;
        }
    }
}