$tablet-width: 801px;
$desktop-width: 1024px;

.Articles {
    margin-top: 48px;
}

.Articles__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 24px;
}

.Articles__list-item {

    flex: 100%;

    @media (min-width: $desktop-width) {
        flex: 0 0 48%;
        max-width: 400px;
    }
}