.Hero__icon {
    width: 64px;
    height: 64px;
}

.Hero__title {
    margin-top: 24px;
    font-weight: 800;
    font-size: 22.43px;
    line-height: 32px;
    letter-spacing: -0.4px;
}

.Hero__copy {
    margin-top: 16px;
    font-weight: 500;
    font-size: 15.75px;
    line-height: 16px;
    color: rgba(15, 24, 37, 0.6);
}