$tablet-width: 800px;
$desktop-width: 1024px;

.Header {
    position: relative;
    position: sticky;
    align-self: flex-start;
    top: 0;
    background: #fff;
    z-index: 3;
}

.Header__eyebrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 24px 14px 32px;
    border-bottom: 1px solid #D4D9DF;
}

.Header__mobile-btn {
    @media (min-width: $tablet-width) {
        display: none;
    }
}

.Header__mobile-icon {
    width: 32px;
    height: 32px;
    stroke-width: 1px;

    &:not([data-state=active]) {
        display: none;
    }

    // make the "faPlus" an x
    &[data-action=close] {
        transform: rotate(45deg);
    }
}

.Header__eyebrow-btns {
    display: flex;
    gap: 12px;

    @media (max-width: $tablet-width) {
        display: none;
    }
}

.Header__nav-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    height: auto;
    min-height: calc(100vh - 58px); // full view width - eyebrow nav
    z-index: 1;
    transition: all .35s ease-in-out;


    &:not(.is-active) {
        height: 0;
        opacity: 0;
    }
    
    @media (min-width: $tablet-width) {
        display: none;
    }   
}

