$tablet-width: 800px;
$desktop-width: 1024px;

.Navbar {
    display: flex;
    flex-direction: column;
    flex: 100%;
    padding: 24px;
    top: 66.6px; // below eyebrow
    position: sticky;
    background-color: #fff;
    min-height: calc(100vh - 62px); // full view width - eyebrow nav

    @media (min-width: $tablet-width) {
        padding: 32px 16px 0 32px;
    }
}

.Navbar__items {
    list-style: none;
}

.Navbar__item {
    display: flex;
}

.Navbar__item-link {
    width: 100%;
    padding: 14px 16px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.24px;
    text-decoration: none;
    transition: background-color .25s ease-in-out;


    &:hover {
        background-color: rgba(39, 31, 77, 0.04);
        color: rgba(73, 40, 237, .9);
    }

    &:focus {
        color: rgba(73, 40, 237, .9);
    }
}

.Navbar__btns {
    display: flex;
    gap: 6%; // 48px on 800px screen
    padding: 24px 0;

    @media (min-width: $tablet-width) {
        display: none;
    }
}

.Navbar__btn-wrapper {
    flex: 50%;
}